<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="footlink">
                    <ul>
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">Services</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="socialicons">
                    <div class="socialicons__text">
                        <p>Find us on</p>
                    </div>
                    <div class="socialicons__icon">
                        <ul>
                            <li>
                                <a href="" class="ico"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="" class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="" class="ico"><i class="fa fa-skype" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="" class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="text-center txt__news">
                    Sign up for our <span>Newsletter!</span>
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your Email Id">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-envelope">
                             <i class="fa fa-envelope" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="copyright-text text-right">
                    <p>Copyright &copy; {{template.year}}. Go The Extra Mile</p>
                    <p>Designed by <a href="http://www.wohlig.com" target="_blank" class="copyright-text__color">TING</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>