<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <a ui-sref="home"><img src="frontend/img/logo.png" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control input--bgcolor" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default input--bgcolor">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="registration">
                    <ul>
                        <li><a ng-click="openSignupModal();">Sign Up</a></li>
                        <li><a href="">Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>