<div>
	<div>
		<img src="frontend/img/banner/myaccount.png" alt="" class="img-responsive">
	</div>
	<div class="page-head1">
		<div class="container">
			<div class="tab-head text-center">
				<ul ng-init="view='profile'">
					<li ng-click="view='profile'">
						<a href="">profile</a>
					</li>
					<li ng-click="view='package'">
						<a href="">packages bought</a>
					</li>
				</ul>
			</div>
			<!--<div class="tab-head text-center">
                <ul>
                    <li ng-click="showProfile();">
                        <a href="">profile</a>
                    </li>
                    <li ng-click="showProfile()">
                        <a href="">packages bought</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12" ng-show="viewProfile">
                        a
                    </div>
                    <div class="col-md-12" ng-show="viewPackage">
                        b
                    </div>
                </div>
            </div>-->
			<div class="profile" ng-if="view=='profile'">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-3">
								<div class="profile-img">
									<div class="profile-camera">
										<img src="frontend/img/myaccount/photo-camera.png" alt="" class="img-responsive">
									</div>
								</div>
								<!--<img src="frontend/img/myaccount/applicant.jpg" alt="" class="img-responsive">-->
							</div>
							<div class="col-md-9">
								<form name="userdetail">
									<div class="user-input">
										<div class="form-group bottom-margin">
											<label for="name">Name:</label>
											<div class="display-inblock input-control">
												<input id="name" type="text" class="form-control" placeholder="">
											</div>
											<div class="display-inblock pull-right edit-height">
												<a href="">Edit</a>
											</div>
										</div>
									</div>
									<!--<div class="user-input">
										<div class="form-group bottom-margin">
											<label for="userid">User Id:</label>
											<div class="display-inblock input-control">
												<input id="userid" type="text" class="form-control" placeholder="">
											</div>
										</div>
									</div>-->
									<!--<div class="user-input">
										<div class="form-group bottom-margin">
											<label for="username">User Name:</label>
											<div class="display-inblock input-control">
												<input id="username" type="text" class="form-control" placeholder="">
											</div>
										</div>
									</div>-->
									<div class="user-input">
										<div class="form-group bottom-margin">
											<label for="email">Email:</label>
											<div class="display-inblock input-control">
												<input id="email" type="text" class="form-control" placeholder="">
											</div>
											<!--<div class="display-inblock pull-right edit-height">
												<a href="">Change Email Address</a>
											</div>-->
										</div>
									</div>
									<div class="user-input">
										<div class="form-group bottom-margin">
											<label for="password">Password:</label>
											<div class="display-inblock input-control">
												<input id="password" type="password" class="form-control" placeholder="">
											</div>
											<div class="display-inblock pull-right edit-height">
												<a href="">Change Password</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="package" ng-if="view=='package'">
				<div class="package-table">
					<table class="table">
						<thead>
							<tr>
								<th>Serial No</th>
								<th>Decsription</th>
								<th>Price</th>
								<th>Date</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="package in packageBought">
								<td>{{package.serial}}</td>
								<td>
									<div class="text-left">
										<div class="table__img display-inblock">
											<img src="{{package.image}}" alt="" class="img-responsive">
										</div>
										<div class="table__text display-inblock">
											<span>{{package.description}}</span>
										</div>
									</div>
								</td>
								<td>{{package.price}}</td>
								<td>{{package.data}}</td>
								<td>
									<button class="btn btn-default btn-green btn__padding text-uppercase">View Invoice</button>
								</td>
								<td>
									<button class="btn btn-default btn-active-orange btn__padding text-uppercase">Active</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>