<div>
    <div>
        <img src="frontend/img/banner/privacy-bg.png" alt="" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="privacy-content">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consequatur, tempore vel sequi dolore
                        iure, nisi, non similique suscipit possimus quia. Reprehenderit temporibus, repudiandae quo eligendi
                        quas error accusantium beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dignissimos
                        reprehenderit ut aspernatur doloremque vel rem quidem alias ipsam dolore sapiente modi ratione eius
                        totam praesentium saepe repellat, corporis repellendus!
                    </p>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consequatur, tempore vel sequi dolore
                        iure, nisi, non similique suscipit possimus quia. Reprehenderit temporibus, repudiandae quo eligendi
                        quas error accusantium beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dignissimos
                        reprehenderit ut aspernatur doloremque vel rem quidem alias ipsam dolore sapiente modi ratione eius
                        totam praesentium saepe repellat, corporis repellendus!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>