<form name="modalForm" ng-submit="modalOptions.submit()" class="min-hit">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Edit Gallery</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <label>Choose image to upload(1626 x 541px)</label>
                    <upload-image ng-model="newinfo.image" ng-disabled="type.disabled" no-view="" ng-if="!type.view" class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-empty"
                        style="">
                        <div class="form-group">
                            <div class="btn-upload btn btn-primary btn-outline btn-small create-btn" ng-hide="disabled">
                                <input id="inputImage" ng-show="!isMultiple" type="file" accept="image/*,application/pdf" image="image" title="Choose Files"
                                    class="btn-primary ng-isolate-scope">
                                    <input id="inputImage" ng-show="isMultiple" type="file" accept="image/*,application/pdf" image="image" title="Choose Multiple Files"
                                        class="btn-primary ng-isolate-scope ng-hide" onchange="angular.element(this).scope().clearOld()"
                                        multiple="" style="">
                                        <span>CHOOSE FILE</span>
                            </div>
                        </div>
                        </upload-image>
                </div>
                <div class="form-group">
                        <label>Caption</label>
                        <input type="text" name="name" placeholder="Enter Caption" ng-model="newinfo.caption" class="form-control" ng-required="type.required"
                            ng-disabled="">
                            <div class="error-msg " ng-show="detailForm[type.tableRef].$invalid &amp;&amp; detailForm[type.tableRef].$touched">Please enter Name</div>
                    </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-save " type="submit" ng-disabled="modalForm.$invalid" ng-click="editGalleryPhotos(newinfo)">Save</button>
                <button class="btn btn-primary btn-danger" type="submit" ng-click="closeBox()">Cancel</button>
            </div>
        </div>
</form>
</div>